body, html {
	margin: 0
}

/* Para manter o footer sempre no final da página */
.content 
	display flex
	flex-direction column
	font-family 'Open Sans', sans-serif
	height auto
	justify-content space-between
	min-height 100vh
	max-width 100%
	
.content__container
	height auto
	max-width 100%