@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* Para manter o footer sempre no final da página */
body 
	display flex
	flex-direction column
	font-family 'Open Sans', sans-serif
	height auto
	min-height 100vh
	justify-content space-between
