/* Para manter o footer sempre no final da página */
body, html 
    height 100%

body
	display flex
	flex-direction column

.main
	flex 1

.container-default
    width 100%
    max-width 1200px
    display block
    margin 0 auto
    padding 0 10px