.footer 
	align-items center
	background-color $secondary
	display flex
	height 40px
	padding 0 50px

.footer__link 
	border-bottom 1px solid transparent
	color $bg
	font-family inherit
	font-size 13px
	text-decoration none

.footer__link:hover 
	border-bottom 1px solid $bg
