.footer 
	align-items center
	background-color preto
	display flex
	height 40px
	margin-top 50px
	padding 0 50px

.footer__link 
	border-bottom 1px solid transparent
	color #fff
	font-family inherit
	font-size 13px
	text-decoration none

.footer__link:hover 
	border-bottom 1px solid #fff
