.header
	margin-bottom 30px

/* Menu
==================== */
.nav
	align-items center
	background-color $primary
	display flex
	height 40px
	justify-content flex-end
	padding 0 50px

.nav__item 
	color $bg	
	font-family inherit
	font-size 13px
	height 100%
	text-decoration none


.nav__item:hover 
	border-bottom 1px solid branco 

/* Seção de títulos
==================== */
.section-title 
	align-items center
	background-color $bg
	display flex
	height 100px
	padding-left 50px

.section-title__logo 
	background-image url('../images/logo.png')
	height 71px
	text-indent -9999px
	width 317px