.panel__voltar 
	background-image url("../images/btn-voltar.png")
	height 32px
	left -50px
	overflow hidden
	position absolute
	text-indent -99999px
	top 0
	width 32px

.panel__voltar:hover 
	transform rotate(340deg)
	cursor pointer