.panel-login 
	background-color cinza
	margin 0 auto
	position relative
	width 450px

.panel-login__header 
	align-items center
	background-color $primary
	display flex
	height 40px
	padding 0 20px

.panel-login__title 
	color branco
	font-family inherit
	font-size 18px

.panel-login__body 
	display flex
	flex-direction column
	justify-content space-around
	padding 15px	
	padding-bottom 0

.panel-login__image 
	display block
	margin 0 auto
	margin-bottom 15px
	
.panel-login__form 
	display flex
	flex-direction column
	
.panel-login__label 
	color preto2
	font-family inherit
	margin-bottom 5px
	display none 

.panel-login__input-text
	background none
	border 1px solid cinza2
	color preto
	font-family inherit
	font-size 16px
	margin-bottom 10px
	min-height 22px
	text-indent 5px

.panel-login__input-text:focus 
	outline thick

.panel-login__submit
	align-items center
	background-color preto
	border none
	color branco
	display flex
	font-family inherit
	font-size 16px
	height 40px
	justify-content center
	margin 20px auto
	width 90px

.panel-login__submit:hover 
	background-color preto3
	cursor pointer
	
/* OUT */
.panel__input--line 
	border none
	border-bottom 1px solid cinza3
	max-width 270px
	margin-bottom 20px
	margin-left auto
	margin-right auto
	width 100%

.panel__input--bigger
	font-size 34px
	text-align center
	text-indent 0

.panel__input--alone 
	margin-bottom 0

.panel__input--last 
	margin-bottom 0
	
.panel__voltar 
	background-image url("../images/btn-voltar.png")
	height 32px
	left -50px
	overflow hidden
	position absolute
	text-indent -99999px
	top 0
	width 32px

.panel__voltar:hover 
	transform rotate(340deg)
	cursor pointer