.panel
    display block
    width 100%
    max-width 400px
    margin 0 auto
    margin-top 50px

.panel__header
    background $primary-color

.panel__header__title
    text-title()
    padding 5px 10px
    display inline-block
    margin 0

.panel__body
    background $bg-color
    padding 15px